[program:storm-logviewer]
command={{ storm_dir }}/bin/storm logviewer
autostart=true
autorestart=true
stopsignal=KILL
stderr_logfile=/var/log/storm-logviewer.err.log
stdout_logfile=/var/log/storm-logviewer.out.log
