[program:storm-supervisor]
command={{ storm_dir }}/bin/storm supervisor
autostart=true
autorestart=true
stopsignal=KILL
environment=JAVA_HOME="/usr/lib/jvm/java-8-oracle"
stderr_logfile=/var/log/storm-supervisor.err.log
stdout_logfile=/var/log/storm-supervisor.out.log
