---
- name: Creating the downloads folder
  file: path={{ downloads_dir }} state=directory
  remote_user: "{{ user }}"

- name: Downloading Apache Storm
  get_url: dest={{ storm_dir }}.tar.gz url="{{apache_mirror}}/storm/apache-storm-{{storm_version}}/apache-storm-{{storm_version}}.tar.gz"
  remote_user: "{{ user }}"

- name: Installing supervisord
  apt: name=python-lxml state=present
  remote_user: "{{ user }}"
  become: yes
  become_user: root

- name: Downloading Scala Lib
  maven_artifact: group_id=org.scala-lang artifact_id=scala-library version=2.10.1 dest={{ storm_dir }}/lib/scala-library-2.10.1.jar

- name: Downloading Weka
  maven_artifact: group_id=nz.ac.waikato.cms.weka artifact_id=weka-dev version=3.9.0 dest={{ storm_dir }}/lib/weka-dev-3.9.0.jar

- name: Uncompressing the Storm archive
  unarchive: copy=no creates={{ storm_dir }} dest={{ downloads_dir }} src={{ storm_dir }}.tar.gz
  remote_user: "{{ user }}"

- name: Creating the storm-local folder
  file: path={{ storm_dir }}/storm-local state=directory
  remote_user: "{{ user }}"
