{% set all_servers = [env, "_all_servers" ]|join %}
{% set storm_nimbus = [env, "_storm_nimbus" ]|join %}
{% set storm_nfs = [env, "_storm_nfs" ]|join %}
*filter

# Allow all loopback (lo0) traffic and reject traffic
# to localhost that does not originate from lo0.
-A INPUT -i lo -j ACCEPT
-A INPUT ! -i lo -s 127.0.0.0/8 -j REJECT

# Allow ping.
-A INPUT -p icmp -m state --state NEW --icmp-type 8 -j ACCEPT

# Allow SSH connections.
-A INPUT -p tcp --dport 22 -m state --state NEW -j ACCEPT

# Allow HTTP and HTTPS connections from anywhere
# (the normal ports for web servers).
-A INPUT -p tcp --dport 80 -m state --state NEW -j ACCEPT
-A INPUT -p tcp --dport 443 -m state --state NEW -j ACCEPT

# NFS TCP port
-A INPUT -s {{ groups[storm_nfs][0] }} -p tcp --dport 2049 -m state --state NEW -j ACCEPT
# NFS UDP port
-A INPUT -s {{ groups[storm_nfs][0] }} -p udp --dport 2049 -m state --state NEW -j ACCEPT

# Apache Storm Logviewer port
-A INPUT -p tcp --dport 8000 -m state --state NEW -j ACCEPT

# Apache Storm Nimbus port
-A INPUT -s {{ groups[storm_nimbus][0] }} -p tcp --dport 6627 -m state --state NEW -j ACCEPT

{% for host in groups[all_servers] %}
{% if host != inventory_hostname %}
# Storm Supervisor Slot Port #1
-A INPUT -s {{ host }} -p tcp --dport 6701 -m state --state NEW -j ACCEPT
# Storm Supervisor Slot Port #2
-A INPUT -s {{ host }} -p tcp --dport 6700 -m state --state NEW -j ACCEPT
# Zookeeper Port #1
-A INPUT -s {{ host }} -p tcp --dport 3888 -m state --state NEW -j ACCEPT
# Zookeeper Port #2
-A INPUT -s {{ host }} -p tcp --dport 2888 -m state --state NEW -j ACCEPT
# Zookeeper Client Port
-A INPUT -s {{ host }} -p tcp --dport 2181 -m state --state NEW -j ACCEPT
{% endif %}
{% endfor %}

# Allow inbound traffic from established connections.
# This includes ICMP error returns.
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Log what was incoming but denied (optional but useful).
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables_INPUT_denied: " --log-level 7

# Reject all other inbound.
-A INPUT -j REJECT

# Log any traffic which was sent to you
# for forwarding (optional but useful).
-A FORWARD -m limit --limit 5/min -j LOG --log-prefix "iptables_FORWARD_denied: " --log-level 7

# Reject all traffic forwarding.
-A FORWARD -j REJECT

# NFS TCP port
-A OUTPUT -d {{ groups[storm_nfs][0] }} -p tcp --sport 2049 -j ACCEPT
# NFS UDP port
-A OUTPUT -d {{ groups[storm_nfs][0] }} -p udp --sport 2049 -j ACCEPT

# Apache Storm Nimbus port
-A OUTPUT -d {{ groups[storm_nimbus][0] }} -p tcp --sport 6627 -j ACCEPT

{% for host in groups[all_servers] %}
{% if host != inventory_hostname %}
# Storm Supervisor Slot Port #1
-A OUTPUT -d {{ host }} -p tcp --sport 6701 -j ACCEPT
# Storm Supervisor Slot Port #2
-A OUTPUT -d {{ host }} -p tcp --sport 6700 -j ACCEPT
# Zookeeper Port #1
-A OUTPUT -d {{ host }} -p tcp --sport 3888 -j ACCEPT
# Zookeeper Port #2
-A OUTPUT -d {{ host }} -p tcp --sport 2888 -j ACCEPT
# Zookeeper Client Port
-A OUTPUT -d {{ host }} -p tcp --sport 2181 -j ACCEPT
{% endif %}
{% endfor %}

COMMIT
